section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

form {
  width: 300px;
  height: 300px;

  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: #2a2f3b;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

aside {
  width: 300px;
  height: 300px;
  padding: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #2a2f3b;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-field {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
  gap: 3px;

  label {
    font-size: 16px;
  }

  input {
    height: 35px;
    padding: 5px;
    background-color: #2a2f3b;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: white;
  }
}

.form-mobile-radius {
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
}

.aside-mobile-radius {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
}

.submit-btn {
  all: unset;
  margin-top: auto;
  width: 100%;
  height: 40px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  background-color: #7b51f1;
}

.submit-btn:hover {
  opacity: 0.9;
}

.flex-column {
  flex-direction: column;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.p-field {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
