<section [ngClass]="{'flex-column': isMobileView}">
  <form [formGroup]="form" (submit)="submit($event)" [ngClass]="{'form-mobile-radius': isMobileView}">
    <div class="form-field">
      <input name="firstValue" formControlName="num1" type="number" min="0" required>
      <label for="firstValue">Valor 1</label>
    </div>
    <div class="form-field">
      <input name="secondValue" formControlName="num2" type="number" min="0" required>
      <label for="secondValue">Valor 2</label>
    </div>
    <div class="form-field">
      <input name="thirdValue" formControlName="num3" type="number" min="0" required>
      <label for="thirdValue">Valor 3</label>
    </div>
    <button type="submit" class="submit-btn" [disabled]="loading" >
      @if(status === "off") {
      Calcular
      } @else if(status === 'Em andamento') {
      Processando...
      } @else if(status === 'Concluído'){
      Reiniciar
      }
    </button>
</form>
<aside [ngClass]="{'aside-mobile-radius': isMobileView}">
  @if(status === "off") {
  <p class="my-auto">Clique em calcular para verificar o resultado</p>
  } @else {
  <p class="p-field">
    Valores enviados:
    <strong>{{form.get("num1")!.value}}</strong>,
    <strong>{{form.get("num2")!.value}}</strong>,
    <strong>{{form.get("num3")!.value}}</strong>
  </p>
  <p class="p-field">Status: <strong>{{status}}</strong></p>
  @if(status === "Concluído" && result) {
  <p class="my-auto">
    Resultado:<br>
    <strong>
      Média: {{result.media | number:'1.2-2'}}
    </strong>
    <br/>
    <strong>
      Mediana: {{result.mediana | number:'1.0-2'}}
    </strong>
  </p>
  }
  }
</aside>
